html {
    scroll-behavior: smooth;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.header-container {
    height: 3rem;
    width: 100%;
    background-color: lightcyan;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid black;
    /* margin-bottom: 2.5rem; */
}

.header-container p {
    font-size: 1.5rem;
    font-weight: bold;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
}

.navbar ul {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar li {
    list-style: none;
    padding: 0 1rem;

}

 a {
    text-decoration: none;
    color: black;
}

/* Main hero-section */

.container {
    width: 80%;
    height: 100vh;
    margin: 70px auto 0;
}

/* Projects */

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    padding: 0 1rem;
    width: 500px;
    margin: 30px auto;
    border: 1px solid black;
}

.project-img {
    width: 50%;
    height: 50%;
   /*  object-fit: cover; */
    border: 1px dotted black;
}


/* About */

.about img {
    width: 300px;
    height: 300px;
}